:root {
    
    // Main colors
    --purple: #7d00eb;
    --white: #ffffff;
    --pink: #fdc2ff;
    --soft-brown: #f6efec;
    --deep-brown: #bf8260;
    --blue: #267a96;
    --orange: #f3a100;
    --black: #000000;


    // Shades of grey
    --grey1: #808080;
    --grey2: #333333;
    --grey3: #f2f2f2;
    --grey4: #d9d9d9;


    // Pastel
    --pastel-purple: #f6edfe;
    --pastel-blue: #eaf0f2;


    // Fonts
    --primary-font: 'Space Grotesk', sans-serif;
    --secondary-font: 'Nunito', sans-serif;
} 


// General styling
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}